html, body {
  height: 100%;
  width: 65%;
  background-image: url("mypics.jpeg");
  color: white;
  
}
* {
  box-sizing: content-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
   background-color: skyblue; 
/*   color:whitesmoke */
  align-content: center;
   
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=number], select, input[type=email], input[type=date], input[type=color] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  text-decoration: none;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* Add a blue text color to links */
a {
  color: greenyellow;
  opacity: 1;  
}


/* Set a style for the submit button */
.registerbtn {
  background-color: blueviolet;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: skyblue;
  text-align: center;
}

 
